body{
    background-image: url("plane new.JPG");
    background-size: cover;
}
li{
   
    list-style-image: none;
    display: inline-block;

}
h2,p{
    
    color:red; 
    background-color: rgb(19, 83, 83);
    text-align: center;
    border: 3px dashed rgba(9,1,356,0.3);
    cursor: pointer;

}
p{
  
  
    
    line-height: 20px;
   
    
    font-size: 20px;
    font-family:'Martel', serif;

}
span{
    font-size:2rem;
}
img{
    opacity: 0.5;
    float:left;
}dd
footer{
    clear:both;
    text-align:center;
}
.lorem{
    border:5px dashed black
}
.ipsum:last-child{
    border:5px dashed green
}
.experiment_with_boxmodel{
    border:5px solid black;
    display:inline-block;
    background-color: white;
    padding:20px 40px 5px 20px;
    margin:0px 20px;
    width:33px;
    height: 55px;

}
#pack{background-color: rgb(255,140,0,0.9)}
#pack2{background-color: orangered}